@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

.wrapper {
    width: 100%;
    /* height: 100vh; */
    background-color: black;
    padding: 100px;
}

.wrapper .contacts {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    gap: 5px;
    width: 451px;
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
}

.wrapper .contacts .img {
    background-image: url(../pages/assets/photo.JPG);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    margin: 35px;
}

.wrapper .contacts .info {
    width: 300px;
    margin: 15px 0;
}

.wrapper .contacts .info h3 {
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    color: #F5F8FF;
    font: 900 16px Poppins;
}

.wrapper .contacts .info p span {
    font: 400 12px Poppins;
    color: #C2C2C2
}

.wrapper .contacts .info p {
    color: #F5F8FF;
    font: 600 12px Poppins;
}

/* ОПЫТ РАБОТЫ */

.wrapper h2 {
    color: #F5F8FF;
    font: 900 16px Poppins;
    margin-top: 30px;
    margin-left: 20px;
}

.wrapper .experience {
    width: 451px;
    padding: 1px 20px;
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
}

.wrapper .experience h4 {
    font: 500 16px Poppins;
    color: var(--White, #F5F8FF);
    line-height: 20px;
    letter-spacing: 0.8px;
}

.wrapper .experience h5 {
    font: 500 10px Poppins;
    color: var(--White, #F5F8FF);
    /* line-height: 20px; */
    letter-spacing: 0.5px;
}

.wrapper .experience h6 {
    font: 500 10px Poppins;
    color: var(--White, #F5F8FF);
    /* line-height: 20px; */
    letter-spacing: 0.5px;
}

.wrapper .experience p span {
    font: 400 12px Poppins;
    color: #C2C2C2
}

.wrapper .experience p {
    color: #FFF;
    font: 300 10px Poppins;
    line-height: normal;
    letter-spacing: 0.2px;
}

/* НАВЫКИ */

.wrapper .skills {
    width: 451px;
    padding: 1px 20px;
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
}

.wrapper .skills p span {
    font: 400 12px Poppins;
    color: #C2C2C2
}

.wrapper .skills p {
    color: #FFF;
    font: 300 12px Poppins;
    line-height: normal;
    letter-spacing: 0.2px;
}

.wrapper .back {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    width: 490px;
    gap: 20px;
}

.wrapper .back1, .back2 {
    padding: 1px 20px;
    border-radius: 24px;
    background: var(--balck, radial-gradient(205.3% 154.51% at 91.33% -10.25%, #212225 0%, #1F2025 100%));
}

.wrapper .back,
.education,
.lang p {
    color: #FFF;
    font: 300 12px Poppins;
    line-height: normal;
    letter-spacing: 0.2px;
}